<a href="https://colab.research.google.com/github/ArmandOvanessians/SINGLE-MOLECULE-BIOPHYSICS-LABORATORY/blob/main/Armand_Sandbox/02_07_inclass_activity.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

First, let's make our imports

In [1]:
import pandas as pd

Now let's mount our Google Drive to be able to access the files there.

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

Specify your path before running the following code! Use the file directory on the left to find where you put the file in your Google Drive! Your path may not be my path!

In [5]:
path = '/content/drive/MyDrive/QBF/Gatcher2016_data.csv'

Let's load in the data and look at the first few lines to make sure it looks correct.

In [6]:
df=pd.read_csv(path)

In [7]:
df.head(10)

   Country  Claim  Low_PRV  Frequency
0  Austria      6        1   0.121212
1  Austria      1        1   0.075758
2  Austria      2        1   0.121212
3  Austria      3        1   0.151515
4  Austria      4        1   0.166667
5  Austria      5        1   0.363636
6    China      6        0   0.046414
7    China      1        0   0.042194
8    China      2        0   0.122363
9    China      3        0   0.206751

In [11]:
df["Claim"]

0      6
1      1
2      2
3      3
4      4
      ..
133    1
134    2
135    3
136    4
137    5
Name: Claim, Length: 138, dtype: int64

In [20]:
c = df[df["Claim"] == 6]
df[df["Claim"] == 6]["Frequency"]

0      0.121212
6      0.046414
12     0.048077
18     0.077922
24     0.092784
30     0.144928
36     0.088083
42     0.078947
48     0.048780
54     0.054348
60     0.098592
66     0.125000
72     0.021739
78     0.083333
84     0.109091
90     0.137931
96     0.053571
102    0.065217
108    0.074074
114    0.109756
120    0.081967
126    0.106599
132    0.007143
Name: Frequency, dtype: float64

In [33]:
minC6 = df[df["Claim"] == 6]["Frequency"].min()
maxC6 = df[df["Claim"] == 6]["Frequency"].max()

In [34]:
c.describe()

       Claim    Low_PRV  Frequency
count   23.0  23.000000  23.000000
mean     6.0   0.608696   0.081544
std      0.0   0.499011   0.035489
min      6.0   0.000000   0.007143
25%      6.0   0.000000   0.053960
50%      6.0   1.000000   0.081967
75%      6.0   1.000000   0.107845
max      6.0   1.000000   0.144928

In [35]:
df[(df["Frequency"] == maxC6) & (df["Claim"] == 6)]["Country"]

30    Germany
Name: Country, dtype: object

In [36]:
print(f"Germany highest frequency of claim 6")

Germany highest frequency of claim 6

In [37]:
df[(df["Frequency"] == minC6) & (df["Claim"] == 6)]["Country"]

132    Tanzania
Name: Country, dtype: object

In [38]:
print(f"Tanzania lowest frequency of claim 6")

Tanzania lowest frequency of claim 6

In [40]:
minC5 = df[df["Claim"] == 5]["Frequency"].min()
maxC5 = df[df["Claim"] == 5]["Frequency"].max()

In [41]:
df[(df["Frequency"] == maxC5) & (df["Claim"] == 5)]["Country"]

77    Morocco
Name: Country, dtype: object

In [42]:
print(f"Morrocow highest frequency of claim 5")

Morrocow highest frequency of claim 5

In [43]:
df[(df["Frequency"] == minC5) & (df["Claim"] == 5)]["Country"]

65    Lithuania
Name: Country, dtype: object

In [44]:
print(f"Lithuania lowest frequency of claim 5")

Lithuania lowest frequency of claim 5

In [47]:
df.plot(x="Claim", y=["Frequency", "Country"], kind="bar",figsize=(100,100))

In [48]:
df.describe()

            Claim     Low_PRV   Frequency
count  138.000000  138.000000  138.000000
mean     3.500000    0.608696    0.166667
std      1.714047    0.489820    0.096675
min      1.000000    0.000000    0.007143
25%      2.000000    0.000000    0.088384
50%      3.500000    1.000000    0.141851
75%      5.000000    1.000000    0.231840
max      6.000000    1.000000    0.485507